body{
    /*background:url('images/cover.jpg') center center no-repeat;*/
    background-size:100px 150px;
    background-image: url("../images/cover.jpg");
    min-height: 100%;
   background-position: center;
   background-size: cover;

}
/*body{
   background: transparent;
}*/
/*div.layer {

  background-color: rgba(255, 255, 255, 0.8);
 border-radius: 300px;
 padding:
 410px;
 margin: 410px;
    }*/


/*references http://cssdeck.com/labs/bootstrap-3-centred-login-form */
.outer-wrapper {
display: table;
width: 100%;
height: 100%;
background-color: rgba(255, 255, 255, 0.4);
}

.inner-wrapper {

  display:table-cell;
  vertical-align:middle;
  padding:15px;
}
.login-btn { position:fixed; top:15px; right:15px; }
/*#box{
    vertical-align:middle;
  background-color: rgba(255, 255, 255, 0.8);
 border-radius: 20%;
 padding:
 40%;
 margin: 40%;
}*/
/*references*/



/**{
    padding:0px;
    margin: 0px;
}
body {

	background-size: cover;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0;
	color: black;
        background-image: url("../images/cover.jpg");
}*/
/*html {
  background: url("../images/nmd.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}*/
